# Core
numpy
pillow
tqdm
requests

# Streamlit app
streamlit
watchdog

# Computer Vision
opencv-python
opencv-contrib-python
scikit-image

# Machine Learning / Deep Learning
torch
torchvision
torchaudio
scikit-learn

# Feature Extraction
faiss-cpu
sentencepiece
open-clip-torch

# Optional audio/visual processing
sounddevice
matplotlib

# HuggingFace utils
huggingface-hub

# Extra utilities
pyyaml
